* {
  margin: 0rem 1rem;
  background-color: #252c49e5;
}

h1 {
  color: #ff0000;
}

button {
  transition-duration: 0.4s;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #463be7;
  padding: 1rem;
}

button:hover {
  background-color: #000655;
  color: #ffffff;
}

.align {
  text-align: center;
}

.italic {
  font-style: italic;
}
